body {
  margin: 0;
  border-radius: 20px;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsla(0, 0%, 100%, 0.75);
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  line-height: 1.8;
  letter-spacing: 0.2rem;
}

a:visited {
  text-decoration: none;
}

p {
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 60px;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 250px auto 20px auto;
  min-width: 375px;
  max-width: 750px;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 0px 14px 1px #00000024;
  color: hsl(0, 0%, 100%, 0.75);
}

.left-container {
  flex: 33%;
  background-color: hsl(31, 77%, 52%);
  padding: 40px;
}

.left-container a {
  display: inline-block;
  color: hsl(31, 77%, 52%);
  text-decoration: none;
  font-weight: 700;
}

.left-container .btn:hover {
  background-color: initial;
  border: 2px solid hsl(0, 0%, 100%, 0.75);
  color: hsl(0, 0%, 100%, 0.75);
  /* font-weight: 200; */
}

.middle-container {
  flex: 33%;
  background-color: hsl(184, 100%, 22%);
  padding: 40px;
}

.middle-container a {
  display: inline-block;
  color: hsl(184, 100%, 22%);
  text-decoration: none;
  font-weight: 700;
}

.middle-container a:hover {
  background-color: initial;
  border: 2px solid hsl(0, 0%, 100%, 0.75);
  color: hsl(0, 0%, 100%, 0.75);
  font-weight: 200;
}

.right-container {
  flex: 33%;
  background-color: hsl(179, 100%, 13%);
  padding: 40px;
}

.right-container a {
  display: inline-block;
  color: hsl(179, 100%, 13%);
  text-decoration: none;
  font-weight: 700;
}

.right-container a:hover {
  background-color: initial;
  border: 2px solid hsl(0, 0%, 100%, 0.75);
  color: hsl(0, 0%, 100%, 0.75);
  font-weight: 200;
}

.btn {
  background-color: hsl(0, 0%, 100%, 0.75);
  border: 2px solid transparent;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 700px) {
  .main-container {
    flex-direction: column;
  }
}
